
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Store Controller</h2>
<h2>Index</h2>

<div id="StoreContainer">


</div>
@section Scripts{


    <script src="~/Scripts/react/dist/Stores.bundle.js"></script>
}


